* {
    margin: 0px;
    padding: 0px;
}

/* font-family title tag to css start */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:wght@400;700;900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

/* font-family title tag to css start end  */
/* nav title tag start  */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 130px;

}

.nav-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-img img {
    width: 50px;
}

.nav-img h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-img span,
.home-color {
    color: #FF5400;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title>ul a {
    text-decoration: none;
    margin-left: 44px;
}

.checkbtn {
    margin: 10px;
    font-size: 24px;
    display: none;
}

#check {
    display: none;
}

/* nav title tag end  */
/* section title tag start  */
.banner-tixt {
    max-width: 1420px;
    margin: 0 auto;
    height: 500px;
    margin: 0px 140px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner-tixt h1 {
    padding: 106px 255px 24px 255px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

.banner-tixt p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.input-title {
    margin-left: 185px;
    margin-right: 185px;
    margin-bottom: 106px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px 20px;
}

.input-title>ul li {
    text-decoration: none;
}

.input-title ul {
    display: flex;
    gap: 24px;
    border: none;
}

.input-title input {
    padding: 10px 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 100%;
}

.btn-primay {
    display: flex;
    align-items: center;
    padding: 10px 60px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 10px;
    font-weight: 700;
    border: none;
    gap: 20px;


}

/* section title tag end */
/* banner section title tag start  */
.banner {
    display: flex;
    padding: 50px 135px;
    gap: 100px;
}

.banner-tag h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-tag p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.banner-tag ul {
    margin-right: 20px;
}

.banner-tag>ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 25px;
    margin-bottom: 16px;
}

.btn-button {
    padding: 14px 35px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

/* banner section title tag end */

/* choose banner title tag start  */
.choose h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 24px;
}

.choose p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}
.choose-img{
    padding: 10px 135px;
}
.img-row{
    display: flex;
    
    gap: 24px;
    margin-bottom: 24px;
}

/* choose banner title tag end */
